ol, p, ul {
  margin: 20px;
}

.app {
  background-image: linear-gradient(to top,  #a18cd1 0%, #fbc2eb 100%);
  /* background-color: blue; */
  min-height: 100vh;
}

.recipes {
  margin-left: 50px
}

.search-form {
  min-height: 10vh;

  /*flex*/
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 10vh;
}
 
.search-bar {
  border: none;
  padding: 10px;
  width: 50%;
}

.search-button {
  background: lightcoral;
  border: none;
  color: white;
  padding: 10px 20px;
}